:root {
    --colorsmile: #c7f;
    --btn-normal: rgb(219, 100, 255);
    --btn-hover: white;
}

h1 {
    font-family: 'Kalam', cursive;
}
h2 {
    font-family: 'Baloo Tammudu 2', cursive;
    margin: auto;
}
.socialtitle {
    font-family: 'Kalam', cursive;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
}
.panel {
    width: 100%;
    background: #fff;
}
.footer {
    position: absolute;
    bottom: 0;
}
.btn {
    color: var(--btn-hover);
    background: var(--btn-normal);
    padding: 0.5rem 1rem;
    margin: 0.125rem;
    text-align: center;
    width: max-content;
    height: max-content;
    font-size: 1.125rem;
    transition-duration: 0.4s;
    border-radius: 0.5rem;
    border-style: solid;
    border-color: var(--btn-normal);
    /* border-color: #808080bb; */
    border-width: 0.125rem;
}
.btn:hover, .btn::selection {
    background: var(--btn-hover);
    color: var(--btn-normal);
}
.scene {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background: linear-gradient(to top left, #ffc2f5, #c782ff);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: auto;
}
.glass {
    width: max-content;
    height: max-content;
    border-radius: 2rem;
    background: linear-gradient(to bottom left, #fff9, #fff3);
    backdrop-filter: blur(1rem);
    margin: 0.5rem;
}
.title {
    text-align: center;
    padding: 1rem 3rem;
    margin: 2rem;
}
.title h1 {
    margin-bottom: auto;
}
.glass h3 {
    padding: 1rem;
    margin: auto;
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
}
.socials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.half {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.social {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social img {
    max-height: 4rem;
    padding: 1rem;
    border-radius: 50%;
}
a:link, a:visited {
    color: black;
}
#twitch-embed {
    min-width: 400px;
    min-height: 300px;
    aspect-ratio: 16/9;
    width: 40rem;
    max-height: 99%;
    max-width:99%;
}
